img.background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: capitalize;
}


@media screen and (max-width: 768px) and (min-width: 320px) {
  .welcome {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024) {
  .welcome {
    font-size: 30px;
  }
}


@media screen and (min-width: 1024px) {
  .welcome {
    font-size: 38px;
  }
}




.links {
  display: flex;
  justify-content: center;
}